langchain-nomic
langchain_community
tiktoken
langchainhub
langchain-elasticsearch
langchain
langgraph
tavily-python
gpt4all
langchain-text-splitters
langchain-core
typing-extensions
beautifulsoup4
sentence-transformers
